packages/node-red-contrib-compression/examples/examples.json
[
    {
        "id": "compression-examples-tab",
        "type": "tab",
        "label": "Compression Tests",
        "disabled": false,
        "info": "Test flows for node-red-contrib-compression"
    },

    {
        "id": "comment-dedup-test",
        "type": "comment",
        "z": "compression-examples-tab",
        "name": "1. Deduplicate Test - Only outputs on value change",
        "info": "",
        "x": 240,
        "y": 40,
        "wires": []
    },
    {
        "id": "inject-dedup-same",
        "type": "inject",
        "z": "compression-examples-tab",
        "name": "Same Value (25)",
        "props": [
            { "p": "topic", "v": "sensor1", "vt": "str" },
            { "p": "timestamp", "vt": "date" },
            { "p": "value", "v": "25", "vt": "num" }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 140,
        "y": 100,
        "wires": [["compress-dedup"]]
    },
    {
        "id": "inject-dedup-change",
        "type": "inject",
        "z": "compression-examples-tab",
        "name": "Changed Value (30)",
        "props": [
            { "p": "topic", "v": "sensor1", "vt": "str" },
            { "p": "timestamp", "vt": "date" },
            { "p": "value", "v": "30", "vt": "num" }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 150,
        "y": 160,
        "wires": [["compress-dedup"]]
    },
    {
        "id": "compress-dedup",
        "type": "compression",
        "z": "compression-examples-tab",
        "name": "Dedup Test",
        "algorithm": "deduplicate",
        "snapshotKey": "test_dedup",
        "deviation": 0.1,
        "minDuration": 0,
        "maxDuration": 86400,
        "timestampField": "timestamp",
        "valueField": "value",
        "x": 370,
        "y": 130,
        "wires": [["debug-dedup-all"], ["debug-dedup-compressed"]]
    },
    {
        "id": "debug-dedup-all",
        "type": "debug",
        "z": "compression-examples-tab",
        "name": "All Messages",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "true",
        "targetType": "full",
        "statusVal": "value",
        "statusType": "auto",
        "x": 570,
        "y": 100,
        "wires": []
    },
    {
        "id": "debug-dedup-compressed",
        "type": "debug",
        "z": "compression-examples-tab",
        "name": "Compressed Output",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "true",
        "targetType": "full",
        "statusVal": "value",
        "statusType": "auto",
        "x": 590,
        "y": 160,
        "wires": []
    },

    {
        "id": "comment-exception-test",
        "type": "comment",
        "z": "compression-examples-tab",
        "name": "2. Exception Test - Outputs when deviation > 1.0",
        "info": "",
        "x": 230,
        "y": 240,
        "wires": []
    },
    {
        "id": "inject-exception-small",
        "type": "inject",
        "z": "compression-examples-tab",
        "name": "Small Change (+0.5)",
        "props": [
            { "p": "topic", "v": "sensor2", "vt": "str" },
            { "p": "timestamp", "vt": "date" },
            { "p": "value", "v": "20.5", "vt": "num" }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 150,
        "y": 300,
        "wires": [["compress-exception"]]
    },
    {
        "id": "inject-exception-large",
        "type": "inject",
        "z": "compression-examples-tab",
        "name": "Large Change (+5)",
        "props": [
            { "p": "topic", "v": "sensor2", "vt": "str" },
            { "p": "timestamp", "vt": "date" },
            { "p": "value", "v": "25", "vt": "num" }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 150,
        "y": 360,
        "wires": [["compress-exception"]]
    },
    {
        "id": "compress-exception",
        "type": "compression",
        "z": "compression-examples-tab",
        "name": "Exception (dev=1.0)",
        "algorithm": "exception",
        "snapshotKey": "test_exception",
        "deviation": 1.0,
        "minDuration": 0,
        "maxDuration": 86400,
        "timestampField": "timestamp",
        "valueField": "value",
        "x": 390,
        "y": 330,
        "wires": [["debug-exception-all"], ["debug-exception-compressed"]]
    },
    {
        "id": "debug-exception-all",
        "type": "debug",
        "z": "compression-examples-tab",
        "name": "All",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "value",
        "targetType": "msg",
        "statusVal": "value",
        "statusType": "auto",
        "x": 590,
        "y": 300,
        "wires": []
    },
    {
        "id": "debug-exception-compressed",
        "type": "debug",
        "z": "compression-examples-tab",
        "name": "Compressed",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "value",
        "targetType": "msg",
        "statusVal": "value",
        "statusType": "auto",
        "x": 610,
        "y": 360,
        "wires": []
    },

    {
        "id": "comment-continuous-test",
        "type": "comment",
        "z": "compression-examples-tab",
        "name": "3. Continuous Test - Random values with timestamp/value",
        "info": "",
        "x": 250,
        "y": 440,
        "wires": []
    },
    {
        "id": "inject-continuous",
        "type": "inject",
        "z": "compression-examples-tab",
        "name": "Every 1 second",
        "props": [{ "p": "payload" }],
        "repeat": "1",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 140,
        "y": 500,
        "wires": [["function-generate"]]
    },
    {
        "id": "function-generate",
        "type": "function",
        "z": "compression-examples-tab",
        "name": "Generate Data",
        "func": "msg.topic = 'continuous_sensor';\nmsg.timestamp = Date.now();\nmsg.value = 20 + Math.random() * 0.5; // Small variations\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 340,
        "y": 500,
        "wires": [["compress-continuous"]]
    },
    {
        "id": "compress-continuous",
        "type": "compression",
        "z": "compression-examples-tab",
        "name": "Exception (dev=0.3)",
        "algorithm": "exception",
        "snapshotKey": "test_continuous",
        "deviation": 0.3,
        "minDuration": 0,
        "maxDuration": 60,
        "timestampField": "timestamp",
        "valueField": "value",
        "x": 540,
        "y": 500,
        "wires": [[], ["debug-continuous"]]
    },
    {
        "id": "debug-continuous",
        "type": "debug",
        "z": "compression-examples-tab",
        "name": "Compressed Only",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "true",
        "targetType": "full",
        "statusVal": "value",
        "statusType": "auto",
        "x": 770,
        "y": 500,
        "wires": []
    },

    {
        "id": "comment-swinging-door",
        "type": "comment",
        "z": "compression-examples-tab",
        "name": "4. Swinging Door Test - Slope-based compression",
        "info": "",
        "x": 230,
        "y": 580,
        "wires": []
    },
    {
        "id": "inject-ramp",
        "type": "inject",
        "z": "compression-examples-tab",
        "name": "Every 500ms",
        "props": [{ "p": "payload" }],
        "repeat": "0.5",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 130,
        "y": 640,
        "wires": [["function-ramp"]]
    },
    {
        "id": "function-ramp",
        "type": "function",
        "z": "compression-examples-tab",
        "name": "Generate Ramp",
        "func": "var count = context.get('count') || 0;\nmsg.topic = 'ramp_sensor';\nmsg.timestamp = Date.now();\n// Linear ramp with occasional jumps\nif (count % 10 === 0) {\n    msg.value = 50 + Math.random() * 10; // Jump\n} else {\n    msg.value = 20 + count * 0.5; // Linear increase\n}\ncontext.set('count', count + 1);\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 340,
        "y": 640,
        "wires": [["compress-swinging"]]
    },
    {
        "id": "compress-swinging",
        "type": "compression",
        "z": "compression-examples-tab",
        "name": "Swinging Door",
        "algorithm": "swinging-door",
        "snapshotKey": "test_swinging",
        "deviation": 1.0,
        "minDuration": 0,
        "maxDuration": 30,
        "timestampField": "timestamp",
        "valueField": "value",
        "x": 540,
        "y": 640,
        "wires": [[], ["debug-swinging"]]
    },
    {
        "id": "debug-swinging",
        "type": "debug",
        "z": "compression-examples-tab",
        "name": "Swinging Output",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "true",
        "targetType": "full",
        "statusVal": "value",
        "statusType": "auto",
        "x": 760,
        "y": 640,
        "wires": []
    },

    {
        "id": "comment-chart-test",
        "type": "comment",
        "z": "compression-examples-tab",
        "name": "5. Chart Visualization - Raw vs Compressed data",
        "info": "Open the chart node config to see the live preview. Use the Clear button in config to reset.",
        "x": 240,
        "y": 720,
        "wires": []
    },
    {
        "id": "inject-chart-start",
        "type": "inject",
        "z": "compression-examples-tab",
        "name": "Start (every 200ms)",
        "props": [{ "p": "payload" }],
        "repeat": "0.2",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 150,
        "y": 840,
        "wires": [["function-chart-data"]]
    },
    {
        "id": "function-chart-data",
        "type": "function",
        "z": "compression-examples-tab",
        "name": "Generate Sine Wave",
        "func": "var t = context.get('t') || 0;\nmsg.topic = 'sine_wave';\nmsg.timestamp = Date.now();\n// Sine wave with noise\nmsg.value = 50 + 20 * Math.sin(t / 10) + (Math.random() - 0.5) * 2;\ncontext.set('t', t + 1);\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 380,
        "y": 840,
        "wires": [["compress-chart"]]
    },
    {
        "id": "compress-chart",
        "type": "compression",
        "z": "compression-examples-tab",
        "name": "Exception (dev=2.0)",
        "algorithm": "exception",
        "snapshotKey": "test_chart",
        "deviation": 2.0,
        "minDuration": 0,
        "maxDuration": 30,
        "timestampField": "timestamp",
        "valueField": "value",
        "x": 590,
        "y": 840,
        "wires": [["chart-viz"], ["chart-viz"]]
    },
    {
        "id": "chart-viz",
        "type": "chart",
        "z": "compression-examples-tab",
        "name": "Compression Chart",
        "title": "Raw vs Compressed",
        "maxPoints": 200,
        "timestampField": "timestamp",
        "valueField": "value",
        "seriesField": "topic",
        "x": 810,
        "y": 840,
        "wires": []
    },

    {
        "id": "comment-sample-test",
        "type": "comment",
        "z": "compression-examples-tab",
        "name": "6. Sample Test - Trigger-based cache sampling",
        "info": "First click 'Setup Cache', then 'Sample Now' to dump all cached values",
        "x": 250,
        "y": 920,
        "wires": []
    },
    {
        "id": "inject-sample-setup",
        "type": "inject",
        "z": "compression-examples-tab",
        "name": "Setup Cache",
        "props": [{ "p": "payload" }],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "setup",
        "payloadType": "str",
        "x": 130,
        "y": 980,
        "wires": [["function-sample-setup"]]
    },
    {
        "id": "function-sample-setup",
        "type": "function",
        "z": "compression-examples-tab",
        "name": "Initialize Cache",
        "func": "// Setup sample cache with test data\nvar cache = {\n    'Temperature': { topic: 'Temperature', value: 25.5, timestamp: Date.now() },\n    'Humidity': { topic: 'Humidity', value: 65, timestamp: Date.now() },\n    'Pressure': { topic: 'Pressure', value: 1013.25, timestamp: Date.now() }\n};\n\nglobal.set('cache', cache);\n\nnode.status({ fill: 'green', shape: 'dot', text: 'Cache set' });\nreturn { payload: 'Cache initialized', cache: cache };",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 320,
        "y": 980,
        "wires": [["debug-sample-setup"]]
    },
    {
        "id": "debug-sample-setup",
        "type": "debug",
        "z": "compression-examples-tab",
        "name": "Setup Result",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 510,
        "y": 980,
        "wires": []
    },
    {
        "id": "inject-sample-trigger",
        "type": "inject",
        "z": "compression-examples-tab",
        "name": "Sample Now",
        "props": [{ "p": "payload" }],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 130,
        "y": 1040,
        "wires": [["sample-node-test"]]
    },
    {
        "id": "sample-node-test",
        "type": "sample",
        "z": "compression-examples-tab",
        "name": "Sample Test",
        "stateKey": "cache",
        "outputMode": "individual",
        "x": 330,
        "y": 1040,
        "wires": [["debug-sample-output"]]
    },
    {
        "id": "debug-sample-output",
        "type": "debug",
        "z": "compression-examples-tab",
        "name": "Sampled Output",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "true",
        "targetType": "full",
        "statusVal": "topic",
        "statusType": "auto",
        "x": 540,
        "y": 1040,
        "wires": []
    },
    {
        "id": "inject-sample-status",
        "type": "inject",
        "z": "compression-examples-tab",
        "name": "Get Status",
        "props": [{ "p": "topic", "v": "_status", "vt": "str" }],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 130,
        "y": 1100,
        "wires": [["sample-node-test"]]
    },

    {
        "id": "comment-type-router-test",
        "type": "comment",
        "z": "compression-examples-tab",
        "name": "7. Type Router Test - Routes by data type",
        "info": "Routes messages to different outputs based on payload type (int, float, bool, string)",
        "x": 230,
        "y": 1180,
        "wires": []
    },
    {
        "id": "inject-type-int",
        "type": "inject",
        "z": "compression-examples-tab",
        "name": "Integer (42)",
        "props": [
            { "p": "payload", "v": "42", "vt": "num" },
            { "p": "topic", "v": "test/int", "vt": "str" }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 130,
        "y": 1240,
        "wires": [["type-router-test"]]
    },
    {
        "id": "inject-type-float",
        "type": "inject",
        "z": "compression-examples-tab",
        "name": "Float (3.14)",
        "props": [
            { "p": "payload", "v": "3.14", "vt": "num" },
            { "p": "topic", "v": "test/float", "vt": "str" }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 130,
        "y": 1300,
        "wires": [["type-router-test"]]
    },
    {
        "id": "inject-type-bool",
        "type": "inject",
        "z": "compression-examples-tab",
        "name": "Bool (true)",
        "props": [
            { "p": "payload", "v": "true", "vt": "bool" },
            { "p": "topic", "v": "test/bool", "vt": "str" }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 130,
        "y": 1360,
        "wires": [["type-router-test"]]
    },
    {
        "id": "inject-type-string",
        "type": "inject",
        "z": "compression-examples-tab",
        "name": "String (hello)",
        "props": [
            { "p": "payload", "v": "hello", "vt": "str" },
            { "p": "topic", "v": "test/string", "vt": "str" }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 140,
        "y": 1420,
        "wires": [["type-router-test"]]
    },
    {
        "id": "inject-type-string-num",
        "type": "inject",
        "z": "compression-examples-tab",
        "name": "String '123' (converts to int)",
        "props": [
            { "p": "payload", "v": "123", "vt": "str" },
            { "p": "topic", "v": "test/string-num", "vt": "str" }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 180,
        "y": 1480,
        "wires": [["type-router-test"]]
    },
    {
        "id": "type-router-test",
        "type": "type-router",
        "z": "compression-examples-tab",
        "name": "Type Router",
        "x": 390,
        "y": 1360,
        "wires": [["debug-type-int"], ["debug-type-float"], ["debug-type-bool"], ["debug-type-string"]]
    },
    {
        "id": "debug-type-int",
        "type": "debug",
        "z": "compression-examples-tab",
        "name": "Int Output",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 590,
        "y": 1240,
        "wires": []
    },
    {
        "id": "debug-type-float",
        "type": "debug",
        "z": "compression-examples-tab",
        "name": "Float Output",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 590,
        "y": 1300,
        "wires": []
    },
    {
        "id": "debug-type-bool",
        "type": "debug",
        "z": "compression-examples-tab",
        "name": "Bool Output",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 590,
        "y": 1360,
        "wires": []
    },
    {
        "id": "debug-type-string",
        "type": "debug",
        "z": "compression-examples-tab",
        "name": "String Output",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 600,
        "y": 1420,
        "wires": []
    },

    {
        "id": "comment-mapping-test",
        "type": "comment",
        "z": "compression-examples-tab",
        "name": "8. Mapping Test - Editable ID/Name mapping table",
        "info": "Click the node button after deploy to open the popup editor. Mappings are stored in global context.",
        "x": 250,
        "y": 1560,
        "wires": []
    },
    {
        "id": "inject-mapping-get",
        "type": "inject",
        "z": "compression-examples-tab",
        "name": "Get Mappings",
        "props": [
            { "p": "payload", "v": "get", "vt": "str" }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 140,
        "y": 1620,
        "wires": [["mapping-test"]]
    },
    {
        "id": "inject-mapping-set",
        "type": "inject",
        "z": "compression-examples-tab",
        "name": "Set Sample Data",
        "props": [
            { "p": "payload", "v": "[{\"id\":\"sensor1\",\"name\":\"Temperature\",\"type\":\"ExcDev\",\"deviation\":0.5,\"interval\":60},{\"id\":\"sensor2\",\"name\":\"Humidity\",\"type\":\"ExcDev\",\"deviation\":1,\"interval\":30},{\"id\":\"sensor3\",\"name\":\"Pressure\",\"type\":\"None\",\"deviation\":0,\"interval\":0}]", "vt": "json" }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 150,
        "y": 1680,
        "wires": [["mapping-test"]]
    },
    {
        "id": "inject-mapping-add",
        "type": "inject",
        "z": "compression-examples-tab",
        "name": "Add Single Mapping",
        "props": [
            { "p": "id", "v": "sensor4", "vt": "str" },
            { "p": "name", "v": "Wind Speed", "vt": "str" },
            { "p": "type", "v": "Dedup", "vt": "str" },
            { "p": "deviation", "v": "0", "vt": "num" },
            { "p": "interval", "v": "120", "vt": "num" }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 150,
        "y": 1740,
        "wires": [["mapping-test"]]
    },
    {
        "id": "inject-mapping-clear",
        "type": "inject",
        "z": "compression-examples-tab",
        "name": "Clear All",
        "props": [
            { "p": "payload", "v": "clear", "vt": "str" }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 130,
        "y": 1800,
        "wires": [["mapping-test"]]
    },
    {
        "id": "mapping-test",
        "type": "mapping",
        "z": "compression-examples-tab",
        "name": "Sensor Mapping",
        "tableName": "Sensor Mapping",
        "contextName": "sensors",
        "contextType": "global",
        "x": 400,
        "y": 1710,
        "wires": [["debug-mapping-id"], ["debug-mapping-name"], ["debug-mapping-obj"]]
    },
    {
        "id": "debug-mapping-id",
        "type": "debug",
        "z": "compression-examples-tab",
        "name": "ID Output",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 600,
        "y": 1650,
        "wires": []
    },
    {
        "id": "debug-mapping-name",
        "type": "debug",
        "z": "compression-examples-tab",
        "name": "Name Output",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 600,
        "y": 1710,
        "wires": []
    },
    {
        "id": "debug-mapping-obj",
        "type": "debug",
        "z": "compression-examples-tab",
        "name": "Object Output",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "true",
        "targetType": "full",
        "statusVal": "payload.id",
        "statusType": "auto",
        "x": 610,
        "y": 1770,
        "wires": []
    }
]
