packages/node-red-contrib-compression/examples/examples.json
[
    {
        "id": "compression-examples-tab",
        "type": "tab",
        "label": "Compression Tests",
        "disabled": false,
        "info": "Test flows for node-red-contrib-compression"
    },

    {
        "id": "comment-dedup-test",
        "type": "comment",
        "z": "compression-examples-tab",
        "name": "1. Deduplicate Test - Only outputs on value change",
        "info": "",
        "x": 240,
        "y": 40,
        "wires": []
    },
    {
        "id": "inject-dedup-same",
        "type": "inject",
        "z": "compression-examples-tab",
        "name": "Same Value (25)",
        "props": [
            { "p": "topic", "v": "sensor1", "vt": "str" },
            { "p": "timestamp", "vt": "date" },
            { "p": "value", "v": "25", "vt": "num" }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 140,
        "y": 100,
        "wires": [["compress-dedup"]]
    },
    {
        "id": "inject-dedup-change",
        "type": "inject",
        "z": "compression-examples-tab",
        "name": "Changed Value (30)",
        "props": [
            { "p": "topic", "v": "sensor1", "vt": "str" },
            { "p": "timestamp", "vt": "date" },
            { "p": "value", "v": "30", "vt": "num" }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 150,
        "y": 160,
        "wires": [["compress-dedup"]]
    },
    {
        "id": "compress-dedup",
        "type": "compression",
        "z": "compression-examples-tab",
        "name": "Dedup Test",
        "algorithm": "deduplicate",
        "snapshotKey": "test_dedup",
        "deviation": 0.1,
        "minDuration": 0,
        "maxDuration": 86400,
        "timestampField": "timestamp",
        "valueField": "value",
        "x": 370,
        "y": 130,
        "wires": [["debug-dedup-all"], ["debug-dedup-compressed"]]
    },
    {
        "id": "debug-dedup-all",
        "type": "debug",
        "z": "compression-examples-tab",
        "name": "All Messages",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "true",
        "targetType": "full",
        "statusVal": "value",
        "statusType": "auto",
        "x": 570,
        "y": 100,
        "wires": []
    },
    {
        "id": "debug-dedup-compressed",
        "type": "debug",
        "z": "compression-examples-tab",
        "name": "Compressed Output",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "true",
        "targetType": "full",
        "statusVal": "value",
        "statusType": "auto",
        "x": 590,
        "y": 160,
        "wires": []
    },

    {
        "id": "comment-exception-test",
        "type": "comment",
        "z": "compression-examples-tab",
        "name": "2. Exception Test - Outputs when deviation > 1.0",
        "info": "",
        "x": 230,
        "y": 240,
        "wires": []
    },
    {
        "id": "inject-exception-small",
        "type": "inject",
        "z": "compression-examples-tab",
        "name": "Small Change (+0.5)",
        "props": [
            { "p": "topic", "v": "sensor2", "vt": "str" },
            { "p": "timestamp", "vt": "date" },
            { "p": "value", "v": "20.5", "vt": "num" }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 150,
        "y": 300,
        "wires": [["compress-exception"]]
    },
    {
        "id": "inject-exception-large",
        "type": "inject",
        "z": "compression-examples-tab",
        "name": "Large Change (+5)",
        "props": [
            { "p": "topic", "v": "sensor2", "vt": "str" },
            { "p": "timestamp", "vt": "date" },
            { "p": "value", "v": "25", "vt": "num" }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 150,
        "y": 360,
        "wires": [["compress-exception"]]
    },
    {
        "id": "compress-exception",
        "type": "compression",
        "z": "compression-examples-tab",
        "name": "Exception (dev=1.0)",
        "algorithm": "exception",
        "snapshotKey": "test_exception",
        "deviation": 1.0,
        "minDuration": 0,
        "maxDuration": 86400,
        "timestampField": "timestamp",
        "valueField": "value",
        "x": 390,
        "y": 330,
        "wires": [["debug-exception-all"], ["debug-exception-compressed"]]
    },
    {
        "id": "debug-exception-all",
        "type": "debug",
        "z": "compression-examples-tab",
        "name": "All",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "value",
        "targetType": "msg",
        "statusVal": "value",
        "statusType": "auto",
        "x": 590,
        "y": 300,
        "wires": []
    },
    {
        "id": "debug-exception-compressed",
        "type": "debug",
        "z": "compression-examples-tab",
        "name": "Compressed",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "value",
        "targetType": "msg",
        "statusVal": "value",
        "statusType": "auto",
        "x": 610,
        "y": 360,
        "wires": []
    },

    {
        "id": "comment-continuous-test",
        "type": "comment",
        "z": "compression-examples-tab",
        "name": "3. Continuous Test - Random values with timestamp/value",
        "info": "",
        "x": 250,
        "y": 440,
        "wires": []
    },
    {
        "id": "inject-continuous",
        "type": "inject",
        "z": "compression-examples-tab",
        "name": "Every 1 second",
        "props": [{ "p": "payload" }],
        "repeat": "1",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 140,
        "y": 500,
        "wires": [["function-generate"]]
    },
    {
        "id": "function-generate",
        "type": "function",
        "z": "compression-examples-tab",
        "name": "Generate Data",
        "func": "msg.topic = 'continuous_sensor';\nmsg.timestamp = Date.now();\nmsg.value = 20 + Math.random() * 0.5; // Small variations\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 340,
        "y": 500,
        "wires": [["compress-continuous"]]
    },
    {
        "id": "compress-continuous",
        "type": "compression",
        "z": "compression-examples-tab",
        "name": "Exception (dev=0.3)",
        "algorithm": "exception",
        "snapshotKey": "test_continuous",
        "deviation": 0.3,
        "minDuration": 0,
        "maxDuration": 60,
        "timestampField": "timestamp",
        "valueField": "value",
        "x": 540,
        "y": 500,
        "wires": [[], ["debug-continuous"]]
    },
    {
        "id": "debug-continuous",
        "type": "debug",
        "z": "compression-examples-tab",
        "name": "Compressed Only",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "true",
        "targetType": "full",
        "statusVal": "value",
        "statusType": "auto",
        "x": 770,
        "y": 500,
        "wires": []
    },

    {
        "id": "comment-swinging-door",
        "type": "comment",
        "z": "compression-examples-tab",
        "name": "4. Swinging Door Test - Slope-based compression",
        "info": "",
        "x": 230,
        "y": 580,
        "wires": []
    },
    {
        "id": "inject-ramp",
        "type": "inject",
        "z": "compression-examples-tab",
        "name": "Every 500ms",
        "props": [{ "p": "payload" }],
        "repeat": "0.5",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 130,
        "y": 640,
        "wires": [["function-ramp"]]
    },
    {
        "id": "function-ramp",
        "type": "function",
        "z": "compression-examples-tab",
        "name": "Generate Ramp",
        "func": "var count = context.get('count') || 0;\nmsg.topic = 'ramp_sensor';\nmsg.timestamp = Date.now();\n// Linear ramp with occasional jumps\nif (count % 10 === 0) {\n    msg.value = 50 + Math.random() * 10; // Jump\n} else {\n    msg.value = 20 + count * 0.5; // Linear increase\n}\ncontext.set('count', count + 1);\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 340,
        "y": 640,
        "wires": [["compress-swinging"]]
    },
    {
        "id": "compress-swinging",
        "type": "compression",
        "z": "compression-examples-tab",
        "name": "Swinging Door",
        "algorithm": "swinging-door",
        "snapshotKey": "test_swinging",
        "deviation": 1.0,
        "minDuration": 0,
        "maxDuration": 30,
        "timestampField": "timestamp",
        "valueField": "value",
        "x": 540,
        "y": 640,
        "wires": [[], ["debug-swinging"]]
    },
    {
        "id": "debug-swinging",
        "type": "debug",
        "z": "compression-examples-tab",
        "name": "Swinging Output",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "true",
        "targetType": "full",
        "statusVal": "value",
        "statusType": "auto",
        "x": 760,
        "y": 640,
        "wires": []
    },

    {
        "id": "comment-chart-test",
        "type": "comment",
        "z": "compression-examples-tab",
        "name": "5. Chart Visualization - Raw vs Compressed data",
        "info": "Open the chart node config to see the live preview. Use the Clear button in config to reset.",
        "x": 240,
        "y": 720,
        "wires": []
    },
    {
        "id": "inject-chart-start",
        "type": "inject",
        "z": "compression-examples-tab",
        "name": "Start (every 200ms)",
        "props": [{ "p": "payload" }],
        "repeat": "0.2",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 150,
        "y": 840,
        "wires": [["function-chart-data"]]
    },
    {
        "id": "function-chart-data",
        "type": "function",
        "z": "compression-examples-tab",
        "name": "Generate Sine Wave",
        "func": "var t = context.get('t') || 0;\nmsg.topic = 'sine_wave';\nmsg.timestamp = Date.now();\n// Sine wave with noise\nmsg.value = 50 + 20 * Math.sin(t / 10) + (Math.random() - 0.5) * 2;\ncontext.set('t', t + 1);\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 380,
        "y": 840,
        "wires": [["compress-chart"]]
    },
    {
        "id": "compress-chart",
        "type": "compression",
        "z": "compression-examples-tab",
        "name": "Exception (dev=2.0)",
        "algorithm": "exception",
        "snapshotKey": "test_chart",
        "deviation": 2.0,
        "minDuration": 0,
        "maxDuration": 30,
        "timestampField": "timestamp",
        "valueField": "value",
        "x": 590,
        "y": 840,
        "wires": [["chart-viz"], ["chart-viz"]]
    },
    {
        "id": "chart-viz",
        "type": "chart",
        "z": "compression-examples-tab",
        "name": "Compression Chart",
        "title": "Raw vs Compressed",
        "maxPoints": 200,
        "timestampField": "timestamp",
        "valueField": "value",
        "seriesField": "topic",
        "x": 810,
        "y": 840,
        "wires": []
    }
]
