packages/node-red-contrib-connect/examples/examples.json
[
    {
        "id": "connect-examples-tab",
        "type": "tab",
        "label": "AVEVA Connect Examples",
        "disabled": false,
        "info": "Example flows for node-red-contrib-connect\n\nThese examples demonstrate how to use the AVEVA Connect nodes:\n- OMF Write: Send data via OSIsoft Message Format\n- Streams Read: Read data from streams\n- Events: Subscribe to stream updates\n\nBefore using these examples:\n1. Configure the AVEVA Connect node with your credentials\n2. Update stream IDs to match your namespace"
    },

    {
        "id": "comment-omf-setup",
        "type": "comment",
        "z": "connect-examples-tab",
        "name": "1. OMF Setup - Define Type and Container",
        "info": "These flows show how to set up OMF types and containers before sending data.",
        "x": 200,
        "y": 40,
        "wires": []
    },
    {
        "id": "inject-define-type",
        "type": "inject",
        "z": "connect-examples-tab",
        "name": "Define Temperature Type",
        "props": [
            { "p": "payload" },
            { "p": "omfMessageType", "v": "type", "vt": "str" }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "[{\"id\":\"TemperatureSensor\",\"type\":\"object\",\"classification\":\"dynamic\",\"properties\":{\"Timestamp\":{\"type\":\"string\",\"isindex\":true,\"format\":\"date-time\"},\"Value\":{\"type\":\"number\",\"format\":\"float64\"},\"Quality\":{\"type\":\"string\"}}}]",
        "payloadType": "json",
        "x": 170,
        "y": 100,
        "wires": [["omf-write-setup"]]
    },
    {
        "id": "inject-define-container",
        "type": "inject",
        "z": "connect-examples-tab",
        "name": "Define Sensor Container",
        "props": [
            { "p": "payload" },
            { "p": "omfMessageType", "v": "container", "vt": "str" }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "[{\"id\":\"Sensor001\",\"typeid\":\"TemperatureSensor\"},{\"id\":\"Sensor002\",\"typeid\":\"TemperatureSensor\"}]",
        "payloadType": "json",
        "x": 170,
        "y": 160,
        "wires": [["omf-write-setup"]]
    },
    {
        "id": "omf-write-setup",
        "type": "connect-omf-writer",
        "z": "connect-examples-tab",
        "name": "OMF Setup",
        "connect": "",
        "messageType": "type",
        "action": "create",
        "compression": "none",
        "x": 410,
        "y": 130,
        "wires": [["debug-omf-setup"]]
    },
    {
        "id": "debug-omf-setup",
        "type": "debug",
        "z": "connect-examples-tab",
        "name": "Setup Result",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "payload.success",
        "statusType": "auto",
        "x": 590,
        "y": 130,
        "wires": []
    },

    {
        "id": "comment-omf-data",
        "type": "comment",
        "z": "connect-examples-tab",
        "name": "2. OMF Write - Send Data",
        "info": "Send time-series data to AVEVA Connect via OMF.",
        "x": 150,
        "y": 240,
        "wires": []
    },
    {
        "id": "inject-single-value",
        "type": "inject",
        "z": "connect-examples-tab",
        "name": "Send Single Value",
        "props": [{ "p": "payload" }],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 150,
        "y": 300,
        "wires": [["function-single-value"]]
    },
    {
        "id": "function-single-value",
        "type": "function",
        "z": "connect-examples-tab",
        "name": "Format OMF Data",
        "func": "msg.payload = [{\n    \"containerid\": \"Sensor001\",\n    \"values\": [{\n        \"Timestamp\": new Date().toISOString(),\n        \"Value\": 20 + Math.random() * 10,\n        \"Quality\": \"Good\"\n    }]\n}];\nmsg.omfMessageType = \"data\";\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 360,
        "y": 300,
        "wires": [["omf-write-data"]]
    },
    {
        "id": "inject-batch-values",
        "type": "inject",
        "z": "connect-examples-tab",
        "name": "Send Batch Values",
        "props": [{ "p": "payload" }],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 150,
        "y": 360,
        "wires": [["function-batch-values"]]
    },
    {
        "id": "function-batch-values",
        "type": "function",
        "z": "connect-examples-tab",
        "name": "Format Batch Data",
        "func": "// Generate batch of values for multiple sensors\nconst now = Date.now();\nconst values1 = [];\nconst values2 = [];\n\n// Create 10 values per sensor, 1 second apart\nfor (let i = 0; i < 10; i++) {\n    const ts = new Date(now - (9-i) * 1000).toISOString();\n    values1.push({\n        \"Timestamp\": ts,\n        \"Value\": 20 + Math.random() * 10,\n        \"Quality\": \"Good\"\n    });\n    values2.push({\n        \"Timestamp\": ts,\n        \"Value\": 15 + Math.random() * 5,\n        \"Quality\": \"Good\"\n    });\n}\n\nmsg.payload = [\n    { \"containerid\": \"Sensor001\", \"values\": values1 },\n    { \"containerid\": \"Sensor002\", \"values\": values2 }\n];\nmsg.omfMessageType = \"data\";\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 360,
        "y": 360,
        "wires": [["omf-write-data"]]
    },
    {
        "id": "omf-write-data",
        "type": "connect-omf-writer",
        "z": "connect-examples-tab",
        "name": "OMF Write Data",
        "connect": "",
        "messageType": "data",
        "action": "create",
        "compression": "none",
        "x": 580,
        "y": 330,
        "wires": [["debug-omf-data"]]
    },
    {
        "id": "debug-omf-data",
        "type": "debug",
        "z": "connect-examples-tab",
        "name": "Write Result",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "payload.success",
        "statusType": "auto",
        "x": 770,
        "y": 330,
        "wires": []
    },

    {
        "id": "comment-continuous",
        "type": "comment",
        "z": "connect-examples-tab",
        "name": "3. Continuous Data Generation",
        "info": "Continuously send simulated sensor data every 5 seconds.",
        "x": 180,
        "y": 440,
        "wires": []
    },
    {
        "id": "inject-continuous",
        "type": "inject",
        "z": "connect-examples-tab",
        "name": "Every 5 seconds",
        "props": [{ "p": "payload" }],
        "repeat": "5",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 150,
        "y": 500,
        "wires": [["function-continuous"]]
    },
    {
        "id": "function-continuous",
        "type": "function",
        "z": "connect-examples-tab",
        "name": "Generate Sensor Data",
        "func": "// Simulate industrial sensors\nconst sensors = ['Sensor001', 'Sensor002'];\nconst data = sensors.map(id => ({\n    \"containerid\": id,\n    \"values\": [{\n        \"Timestamp\": new Date().toISOString(),\n        \"Value\": 20 + Math.random() * 15,\n        \"Quality\": Math.random() > 0.95 ? \"Uncertain\" : \"Good\"\n    }]\n}));\n\nmsg.payload = data;\nmsg.omfMessageType = \"data\";\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 380,
        "y": 500,
        "wires": [["omf-write-continuous"]]
    },
    {
        "id": "omf-write-continuous",
        "type": "connect-omf-writer",
        "z": "connect-examples-tab",
        "name": "OMF Write",
        "connect": "",
        "messageType": "data",
        "action": "create",
        "compression": "none",
        "x": 590,
        "y": 500,
        "wires": [["debug-continuous"]]
    },
    {
        "id": "debug-continuous",
        "type": "debug",
        "z": "connect-examples-tab",
        "name": "Continuous Result",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "payload.success",
        "targetType": "msg",
        "statusVal": "payload.success",
        "statusType": "auto",
        "x": 790,
        "y": 500,
        "wires": []
    },

    {
        "id": "comment-read",
        "type": "comment",
        "z": "connect-examples-tab",
        "name": "4. Streams Read - Read Data",
        "info": "Read data from AVEVA Connect streams using various modes.",
        "x": 170,
        "y": 580,
        "wires": []
    },
    {
        "id": "inject-read-last",
        "type": "inject",
        "z": "connect-examples-tab",
        "name": "Read Last Value",
        "props": [
            { "p": "streamId", "v": "Sensor001", "vt": "str" },
            { "p": "readMode", "v": "last", "vt": "str" }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 140,
        "y": 640,
        "wires": [["streams-read"]]
    },
    {
        "id": "inject-read-window",
        "type": "inject",
        "z": "connect-examples-tab",
        "name": "Read Last 10 Values",
        "props": [
            { "p": "streamId", "v": "Sensor001", "vt": "str" },
            { "p": "readMode", "v": "window", "vt": "str" },
            { "p": "count", "v": "10", "vt": "num" }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 150,
        "y": 700,
        "wires": [["streams-read"]]
    },
    {
        "id": "inject-read-range",
        "type": "inject",
        "z": "connect-examples-tab",
        "name": "Read Time Range",
        "props": [
            { "p": "payload" }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 140,
        "y": 760,
        "wires": [["function-range"]]
    },
    {
        "id": "function-range",
        "type": "function",
        "z": "connect-examples-tab",
        "name": "Set Time Range",
        "func": "// Read last hour of data\nconst now = new Date();\nconst oneHourAgo = new Date(now.getTime() - 60 * 60 * 1000);\n\nmsg.streamId = \"Sensor001\";\nmsg.readMode = \"range\";\nmsg.startIndex = oneHourAgo.toISOString();\nmsg.endIndex = now.toISOString();\n\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 330,
        "y": 760,
        "wires": [["streams-read"]]
    },
    {
        "id": "streams-read",
        "type": "connect-streams-read",
        "z": "connect-examples-tab",
        "name": "Streams Read",
        "connect": "",
        "streamId": "",
        "readMode": "last",
        "startIndex": "",
        "endIndex": "",
        "count": 100,
        "x": 520,
        "y": 700,
        "wires": [["debug-read"]]
    },
    {
        "id": "debug-read",
        "type": "debug",
        "z": "connect-examples-tab",
        "name": "Read Result",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 710,
        "y": 700,
        "wires": []
    },

    {
        "id": "comment-events",
        "type": "comment",
        "z": "connect-examples-tab",
        "name": "5. Events - Subscribe to Stream Updates",
        "info": "Subscribe to stream updates and receive messages when new data arrives.",
        "x": 200,
        "y": 840,
        "wires": []
    },
    {
        "id": "inject-events-start",
        "type": "inject",
        "z": "connect-examples-tab",
        "name": "Start Subscription",
        "props": [
            { "p": "payload", "v": "start", "vt": "str" },
            { "p": "streamIds", "v": "[\"Sensor001\", \"Sensor002\"]", "vt": "json" }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 150,
        "y": 900,
        "wires": [["events-node"]]
    },
    {
        "id": "inject-events-stop",
        "type": "inject",
        "z": "connect-examples-tab",
        "name": "Stop Subscription",
        "props": [
            { "p": "payload", "v": "stop", "vt": "str" }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 150,
        "y": 960,
        "wires": [["events-node"]]
    },
    {
        "id": "inject-events-status",
        "type": "inject",
        "z": "connect-examples-tab",
        "name": "Get Status",
        "props": [
            { "p": "payload", "v": "status", "vt": "str" }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 130,
        "y": 1020,
        "wires": [["events-node"]]
    },
    {
        "id": "events-node",
        "type": "connect-events",
        "z": "connect-examples-tab",
        "name": "Stream Events",
        "connect": "",
        "streamIds": "Sensor001,Sensor002",
        "pollInterval": 5000,
        "startOnDeploy": false,
        "x": 380,
        "y": 960,
        "wires": [["debug-events"]]
    },
    {
        "id": "debug-events",
        "type": "debug",
        "z": "connect-examples-tab",
        "name": "Event Output",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "true",
        "targetType": "full",
        "statusVal": "topic",
        "statusType": "auto",
        "x": 570,
        "y": 960,
        "wires": []
    },

    {
        "id": "comment-mqtt",
        "type": "comment",
        "z": "connect-examples-tab",
        "name": "6. MQTT to AVEVA Connect",
        "info": "Receive MQTT messages and forward to AVEVA Connect via OMF.",
        "x": 170,
        "y": 1100,
        "wires": []
    },
    {
        "id": "mqtt-example-note",
        "type": "comment",
        "z": "connect-examples-tab",
        "name": "Note: Configure MQTT In node with your broker",
        "info": "",
        "x": 220,
        "y": 1140,
        "wires": []
    },
    {
        "id": "function-mqtt-to-omf",
        "type": "function",
        "z": "connect-examples-tab",
        "name": "MQTT to OMF Format",
        "func": "// Transform MQTT payload to OMF format\n// Expected input: { value: 23.5, quality: \"Good\" }\n// Topic is used as container ID\n\nconst containerId = msg.topic.replace(/\\//g, '_');\nconst value = msg.payload.value || msg.payload;\nconst quality = msg.payload.quality || \"Good\";\n\nmsg.payload = [{\n    \"containerid\": containerId,\n    \"values\": [{\n        \"Timestamp\": new Date().toISOString(),\n        \"Value\": value,\n        \"Quality\": quality\n    }]\n}];\nmsg.omfMessageType = \"data\";\n\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 410,
        "y": 1180,
        "wires": [["omf-write-mqtt"]]
    },
    {
        "id": "omf-write-mqtt",
        "type": "connect-omf-writer",
        "z": "connect-examples-tab",
        "name": "OMF Write",
        "connect": "",
        "messageType": "data",
        "action": "create",
        "compression": "none",
        "x": 630,
        "y": 1180,
        "wires": [["debug-mqtt-result"]]
    },
    {
        "id": "debug-mqtt-result",
        "type": "debug",
        "z": "connect-examples-tab",
        "name": "MQTT Result",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "payload.success",
        "targetType": "msg",
        "statusVal": "payload.success",
        "statusType": "auto",
        "x": 810,
        "y": 1180,
        "wires": []
    },
    {
        "id": "inject-mqtt-simulate",
        "type": "inject",
        "z": "connect-examples-tab",
        "name": "Simulate MQTT",
        "props": [
            { "p": "topic", "v": "sensors/temperature/room1", "vt": "str" },
            { "p": "payload" }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"value\": 22.5, \"quality\": \"Good\"}",
        "payloadType": "json",
        "x": 150,
        "y": 1180,
        "wires": [["function-mqtt-to-omf"]]
    }
]
