packages/node-red-contrib-reactive/examples/examples.json
[
    {
        "id": "rx-examples-tab",
        "type": "tab",
        "label": "RxJS Examples",
        "disabled": false,
        "info": "Examples demonstrating node-red-contrib-reactive RxJS nodes"
    },
    {
        "id": "rx-comment-1",
        "type": "comment",
        "z": "rx-examples-tab",
        "name": "1. Basic Interval with Map",
        "info": "Interval emits numbers, map doubles them",
        "x": 140,
        "y": 40,
        "wires": []
    },
    {
        "id": "rx-interval-example",
        "type": "rx-interval",
        "z": "rx-examples-tab",
        "name": "",
        "interval": 1000,
        "startOnDeploy": false,
        "limit": 10,
        "x": 130,
        "y": 100,
        "wires": [["rx-map-example"]]
    },
    {
        "id": "rx-map-example",
        "type": "rx-map",
        "z": "rx-examples-tab",
        "name": "Double",
        "expression": "value * 2",
        "x": 310,
        "y": 100,
        "wires": [["rx-debug-1"]]
    },
    {
        "id": "rx-debug-1",
        "type": "debug",
        "z": "rx-examples-tab",
        "name": "Doubled Values",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 500,
        "y": 100,
        "wires": []
    },
    {
        "id": "rx-inject-start",
        "type": "inject",
        "z": "rx-examples-tab",
        "name": "Start",
        "props": [{"p": "payload"}],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "start",
        "payloadType": "str",
        "x": 130,
        "y": 160,
        "wires": [["rx-interval-example"]]
    },
    {
        "id": "rx-comment-2",
        "type": "comment",
        "z": "rx-examples-tab",
        "name": "2. Debounced Input",
        "info": "Simulates debounced search input - waits 500ms after last keystroke",
        "x": 140,
        "y": 240,
        "wires": []
    },
    {
        "id": "rx-inject-search-1",
        "type": "inject",
        "z": "rx-examples-tab",
        "name": "Type: H",
        "props": [{"p": "payload"}],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "H",
        "payloadType": "str",
        "x": 130,
        "y": 300,
        "wires": [["rx-debounce-example"]]
    },
    {
        "id": "rx-inject-search-2",
        "type": "inject",
        "z": "rx-examples-tab",
        "name": "Type: He",
        "props": [{"p": "payload"}],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "He",
        "payloadType": "str",
        "x": 130,
        "y": 340,
        "wires": [["rx-debounce-example"]]
    },
    {
        "id": "rx-inject-search-3",
        "type": "inject",
        "z": "rx-examples-tab",
        "name": "Type: Hello",
        "props": [{"p": "payload"}],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "Hello",
        "payloadType": "str",
        "x": 140,
        "y": 380,
        "wires": [["rx-debounce-example"]]
    },
    {
        "id": "rx-debounce-example",
        "type": "rx-debounce",
        "z": "rx-examples-tab",
        "name": "",
        "time": 500,
        "x": 340,
        "y": 340,
        "wires": [["rx-debug-2"]]
    },
    {
        "id": "rx-debug-2",
        "type": "debug",
        "z": "rx-examples-tab",
        "name": "Search Query",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 530,
        "y": 340,
        "wires": []
    },
    {
        "id": "rx-comment-3",
        "type": "comment",
        "z": "rx-examples-tab",
        "name": "3. Running Sum with Scan",
        "info": "Accumulates values into a running sum",
        "x": 160,
        "y": 460,
        "wires": []
    },
    {
        "id": "rx-inject-num-1",
        "type": "inject",
        "z": "rx-examples-tab",
        "name": "Add 10",
        "props": [{"p": "payload"}],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "10",
        "payloadType": "num",
        "x": 130,
        "y": 520,
        "wires": [["rx-scan-example"]]
    },
    {
        "id": "rx-inject-num-2",
        "type": "inject",
        "z": "rx-examples-tab",
        "name": "Add 25",
        "props": [{"p": "payload"}],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "25",
        "payloadType": "num",
        "x": 130,
        "y": 560,
        "wires": [["rx-scan-example"]]
    },
    {
        "id": "rx-inject-num-3",
        "type": "inject",
        "z": "rx-examples-tab",
        "name": "Add 5",
        "props": [{"p": "payload"}],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "5",
        "payloadType": "num",
        "x": 130,
        "y": 600,
        "wires": [["rx-scan-example"]]
    },
    {
        "id": "rx-inject-reset",
        "type": "inject",
        "z": "rx-examples-tab",
        "name": "Reset",
        "props": [{"p": "reset", "v": "true", "vt": "bool"}],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 130,
        "y": 640,
        "wires": [["rx-scan-example"]]
    },
    {
        "id": "rx-scan-example",
        "type": "rx-scan",
        "z": "rx-examples-tab",
        "name": "Running Sum",
        "expression": "acc + value",
        "initialValue": "0",
        "x": 330,
        "y": 560,
        "wires": [["rx-debug-3"]]
    },
    {
        "id": "rx-debug-3",
        "type": "debug",
        "z": "rx-examples-tab",
        "name": "Total",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 510,
        "y": 560,
        "wires": []
    },
    {
        "id": "rx-comment-4",
        "type": "comment",
        "z": "rx-examples-tab",
        "name": "4. Buffer by Count",
        "info": "Collects 3 values, then emits as array",
        "x": 140,
        "y": 720,
        "wires": []
    },
    {
        "id": "rx-inject-buf-1",
        "type": "inject",
        "z": "rx-examples-tab",
        "name": "Send A",
        "props": [{"p": "payload"}],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "A",
        "payloadType": "str",
        "x": 130,
        "y": 780,
        "wires": [["rx-buffer-example"]]
    },
    {
        "id": "rx-inject-buf-2",
        "type": "inject",
        "z": "rx-examples-tab",
        "name": "Send B",
        "props": [{"p": "payload"}],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "B",
        "payloadType": "str",
        "x": 130,
        "y": 820,
        "wires": [["rx-buffer-example"]]
    },
    {
        "id": "rx-inject-buf-3",
        "type": "inject",
        "z": "rx-examples-tab",
        "name": "Send C",
        "props": [{"p": "payload"}],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "C",
        "payloadType": "str",
        "x": 130,
        "y": 860,
        "wires": [["rx-buffer-example"]]
    },
    {
        "id": "rx-buffer-example",
        "type": "rx-buffer",
        "z": "rx-examples-tab",
        "name": "",
        "mode": "count",
        "bufferSize": 3,
        "timeSpan": 1000,
        "x": 330,
        "y": 820,
        "wires": [["rx-debug-4"]]
    },
    {
        "id": "rx-debug-4",
        "type": "debug",
        "z": "rx-examples-tab",
        "name": "Buffered Array",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 520,
        "y": 820,
        "wires": []
    },
    {
        "id": "rx-comment-5",
        "type": "comment",
        "z": "rx-examples-tab",
        "name": "5. Filter and Take",
        "info": "Filter even numbers, take first 3",
        "x": 140,
        "y": 940,
        "wires": []
    },
    {
        "id": "rx-interval-filter",
        "type": "rx-interval",
        "z": "rx-examples-tab",
        "name": "",
        "interval": 500,
        "startOnDeploy": false,
        "limit": 20,
        "x": 130,
        "y": 1000,
        "wires": [["rx-filter-example"]]
    },
    {
        "id": "rx-filter-example",
        "type": "rx-filter",
        "z": "rx-examples-tab",
        "name": "Even Only",
        "condition": "value % 2 === 0",
        "x": 310,
        "y": 1000,
        "wires": [["rx-take-example"]]
    },
    {
        "id": "rx-take-example",
        "type": "rx-take",
        "z": "rx-examples-tab",
        "name": "",
        "count": 3,
        "x": 470,
        "y": 1000,
        "wires": [["rx-debug-5"]]
    },
    {
        "id": "rx-debug-5",
        "type": "debug",
        "z": "rx-examples-tab",
        "name": "First 3 Evens",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 640,
        "y": 1000,
        "wires": []
    },
    {
        "id": "rx-inject-filter-start",
        "type": "inject",
        "z": "rx-examples-tab",
        "name": "Start",
        "props": [{"p": "payload"}],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "start",
        "payloadType": "str",
        "x": 130,
        "y": 1060,
        "wires": [["rx-interval-filter"]]
    },
    {
        "id": "rx-comment-6",
        "type": "comment",
        "z": "rx-examples-tab",
        "name": "6. Throttled Events",
        "info": "Rate limit to max 1 per second",
        "x": 140,
        "y": 1140,
        "wires": []
    },
    {
        "id": "rx-inject-rapid-1",
        "type": "inject",
        "z": "rx-examples-tab",
        "name": "Rapid Click 1",
        "props": [{"p": "payload"}],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "click-1",
        "payloadType": "str",
        "x": 150,
        "y": 1200,
        "wires": [["rx-throttle-example"]]
    },
    {
        "id": "rx-inject-rapid-2",
        "type": "inject",
        "z": "rx-examples-tab",
        "name": "Rapid Click 2",
        "props": [{"p": "payload"}],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "click-2",
        "payloadType": "str",
        "x": 150,
        "y": 1240,
        "wires": [["rx-throttle-example"]]
    },
    {
        "id": "rx-inject-rapid-3",
        "type": "inject",
        "z": "rx-examples-tab",
        "name": "Rapid Click 3",
        "props": [{"p": "payload"}],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "click-3",
        "payloadType": "str",
        "x": 150,
        "y": 1280,
        "wires": [["rx-throttle-example"]]
    },
    {
        "id": "rx-throttle-example",
        "type": "rx-throttle",
        "z": "rx-examples-tab",
        "name": "",
        "time": 1000,
        "leading": true,
        "trailing": false,
        "x": 350,
        "y": 1240,
        "wires": [["rx-debug-6"]]
    },
    {
        "id": "rx-debug-6",
        "type": "debug",
        "z": "rx-examples-tab",
        "name": "Throttled",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 520,
        "y": 1240,
        "wires": []
    }
]
